/* .video-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(ellipse 65% 60% at 50% 50%, var(--theme-color), transparent);
  opacity: .3;
  z-index: -1;
} */

.video-bg {
  animation: ds 10s ease-out infinite;
  filter: drop-shadow(-10px -10px 50px rgb(var(--theme-color-content) / .3));
}

@keyframes ds {
  15% {
    filter: drop-shadow(10px -10px 50px rgb(var(--theme-color-content) / .3));
  }
  50% {
    filter: drop-shadow(10px 10px 50px rgb(var(--theme-color-content) / .3));
  }
  75% {
    filter: drop-shadow(-10px 10px 50px rgb(var(--theme-color-content) / .3));
  }
  100% {
    filter: drop-shadow(-10px -10px 50px rgb(var(--theme-color-content) / .3));
  }
}